# Ignore the virtual environment
tech-env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore env files if using .env
.env

venv/
__pycache__/
*.pyc
*.pyo
.env
*.sqlite3
credentials.json
metadata.json
users.json